<div class="header">
    <nav class="header_top">
      <div class="header_menu">
        <div class="header_menu_icon">
          <mat-icon>menu</mat-icon>
  
        </div>
        <img src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" class="header_menu_logo" routerLink="/home">
      <div class="header_menu_searchbar">
        <input type="text"
          #searchinput
         (keyup)="searchproduct($event)"  placeholder="Search Amazon.in" class="header_menu_input">
        <div  class="header_menu_searchbar_icon">
          <!-- <mat-icon >search</mat-icon> -->
          <button  (click)="submitsearch(searchinput.value)" class="btn btn-warning"><i  class="fa fa-search"></i></button>
          
        </div>
      </div>
      <div class="suggested-result" *ngIf="showsuggestions || searchRes.length>0" >
        <div *ngFor="let item of searchRes">
          <div class="card" routerLink="/product-detail/{{item.id}}">
            <div class="card-image" >
              <img src="{{item.thumbnail}}" style="height: 50px; width: 50px;">
            </div>
            <div class="title" >
                 <a class="nav-link" alt="{{item.title}}">
                   {{item.title}} </a>
            </div>
          </div>
          <!-- <a>{{item.title}}</a> -->
        </div>
      </div>
      <div class="header_menu_signin" *ngIf="userName" (click)="logout()" style="cursor: pointer;">
        <span class="header_menu_top_item">Hello, <strong style="font-size: 14px;">{{userName}}</strong></span>
        <span class="header_menu_bottom_item">Logout</span>
      </div>
      <div class="header_menu_signin" *ngIf="!userName"  routerLink="/login" style="cursor: pointer;">
        <span class="header_menu_top_item">Hello,Sign in</span>
        <span class="header_menu_bottom_item">Accounts & List</span>
  
      </div>
      <div class="header_menu_signin" routerLink="/checkout" style="cursor: pointer;">
        <span class="header_menu_top_item">Returns</span>
        <span class="header_menu_bottom_item">& Orders</span>
  
      </div>
      <div routerLink="/checkout" class="header_menu_cart">
        <!-- <mat-icon>shopping_cart</mat-icon> -->
         <i class="fa fa-shopping-cart" style="color: #febd69; font-size: 29px; cursor: pointer;">&nbsp;</i>
        <p class="header_cart_number" style="cursor: pointer;">{{cartitems}}</p>
      </div>
      </div>
    </nav>
    <nav class="header_bottom">
        <ul class="links">
            <li><a routerLink="seller-auth">Become a Seller</a></li>
            <li><a href="#">Today's Deals</a></li>
            <li><a href="#">Customer Service</a></li>
            <li><a href="#">Registry</a></li>
            <li><a href="#">Gift Cards</a></li>
            <li><a href="#">Sell</a></li>
        </ul>
      <div class="header_bottom_location_text">
        <span class="header_left_line_one">Delivery to</span>
        <span class="header_left_line_two"><strong>India</strong></span>
  
      </div>
    </nav>
  </div>
