<div>
  <div class="d-flex flex-row justify-content-center">
    <div class="row">
      <div class="col-md">
        <img
          class="img_1"
          src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg"
          alt="Amazon Logo"
        />
      </div>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center">
    <div class="row">
      <div class="col-md">
        <form (ngSubmit)="userLogin()" #loginForm="ngForm">
          <div class="sign-in">Log in</div>
          <div class="form-group">
            <label id="words_1" for="exampleInputEmail1"
              >Email(phone for mobile accounts)</label
            >
            <input
              type="email"
              required
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              [(ngModel)]="loginObj.email"
              name="email"
              #email="ngModel"
            />
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
              <div *ngIf="email.errors?.required">Email is required.</div>
              <div *ngIf="email.errors?.email">Please enter a valid email.</div>
            </div>
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label id="words_2" for="exampleInputPassword1" required
              >Password
            </label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
              required
              [(ngModel)]="loginObj.password"
              name="pass"
              #pass="ngModel"
              
            />
            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="text-danger">
              <div *ngIf="pass.errors?.required">Password is required.</div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-warning" id="sign-in" [disabled]="loginForm.invalid">Sign in</button>
              
            </div>
            <div>
              <img
                id="amazon-img"
                src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg"
                alt="Amazon Image"
              />
            </div>
          </div>

          <button
            routerLink="/register"
            type="button"
            class="btn btn-warning"
            id="grey-button"
          >
            Create your Amazon account
          </button>

          <div
            id="g_id_onload"
            data-client_id="23003612651-i3j86u97f4b0db13h8u5ttgffb453an6.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-auto_select="true"
            data-itp_support="true"
          ></div>

          <div
            class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="filled_blue"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="center"
          ></div>
        </form>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center footer_1">
    <div class="row">
      <div class="col">
        <p class="conditions">
          <a>Conditions of Use &nbsp; &nbsp; &nbsp;</a
          ><a>Privacy Notice &nbsp; &nbsp; &nbsp; </a>
          <a>Help &nbsp; &nbsp; &nbsp; </a>
        </p>
      </div>
    </div>
  </div>
</div>
