.card img{
    width: 150px;
    height: 145px;
    margin-bottom: 15px
}
.product_header_img{
    object-fit: contain;
    height: 600px;
    width: 100%;
}
.carousel-fade{
    
    .extras-caros{
        height: 15rem !important;
    }
    /* .carousel-caption{
        background-color: #00000028;
        border-radius: 10px;
    } */
    /* .carousel-control-next-icon, .carousel-control-prev-icon {
        background-color: black;
    } */
    
    .carousel-control-next, .carousel-control-prev {
        
        border: 5px;
        transition: opacity .15s ease-in-out;
    
    }
    #carouselExampleFade>img{
        mask-image: linear-gradient(to top, transparent 50%, black 75%);
    }
}
.banner_1{
    width: 1263px;
    /* mask-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0)); */
    /* z-index: -1; */
    /* margin-bottom: -400px;  */
    /* // will comment out after doing the seller page */
    
    height: 5rem;
    background-position: center;
    background-size: cover;
    /* max-width: 100%; 
    height: auto; */
}
.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6d1;
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 4px 0px 4px;
    margin: 11px;
    cursor: pointer;
}

.shop1{
    font-size: 16px;
}

.box1-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 5px;
}

.box1-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.shop{
    z-index: 1;
}
.shop .btn{
    text-decoration: none;
    font-size: 13px;
}

.shop1 p a{
      text-decoration: none;
      color: #007185;
      font-size: 15px;
}
.shop p{
        margin: -6px 0 12px;
    
}

.card-img-actions:hover{
    transform: scale(1.5);

}
.increase-btn {
    height: 30px;
    width: 26px;
}
.decrease-btn {
    height: 30px;
    width: 26px;
}
.fa-plus{
    margin: -6px;
}
.fa-minus{
    margin: -6px;
}

.font-weight-normal{
    cursor: pointer;
    color: white;
    background-color: rgb(189, 21, 21);
    border-radius: 5px;
    width: 50px;
    font-size: 12px;
}




.second_carousel{
    @media (max-width: 767px) {
		.carousel-inner .carousel-item > div {
			display: none;
		}
		.carousel-inner .carousel-item > div:first-child {
			display: block;
		}
	}
    .card-img-caption{
        font-size: 14px;
        font-weight: 500;
    }

	.carousel-inner .carousel-item.active,
	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
		display: flex;
	}

	/* medium and up screens */
	@media (min-width: 768px) {

		.carousel-inner .carousel-item-end.active,
		.carousel-inner .carousel-item-next {
			transform: translateX(25%);
		}

		.carousel-inner .carousel-item-start.active, 
		.carousel-inner .carousel-item-prev {
			transform: translateX(-25%);
		}
	}

	.carousel-inner .carousel-item-end,
	.carousel-inner .carousel-item-start { 
		transform: translateX(0);
	}
}
