<div class="seller-auth">
    <div class="signup">
        <h1>Hello Seller, Please Sign up</h1>
        <form class="common-form" #myForms="ngForm" (ngSubmit)="onSubmit()">
            <input class="form-input" type="text" placeholder="Enter name" />
            <input class="form-input" type="password" placeholder="Enter password">
            <input class="form-input" type="text" placeholder="Enter name">
            <button class="form-button btn btn-primary" >Sign up</button>
        </form>
    </div>
</div>
